.who {
  height: 100%;
  width: 30%;
}
.who h4 {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1px;
}

.who h5 {
  display: flex;
  font-size: 18px;
  margin-top: 0px;
  color: gray;
  font-weight: 200;
  cursor: pointer;
}
